%div
  - if current_user.visitor?
    = link_to 'I want to log in', login_path
  - else
    Hello #{current_user.name}!

%table
  %tr
    %th
      Product
    %th
      Price
    %th

  - @products.each do |product|
    %tr
      %td= product.title
      %td
        Price:
        = product.cheapest_price
      %td
        %button
          Buy

