%table
  %tr
    %th
      Product
    %th
      Price
    %th

  - @products.each do |product|
    %tr
      %td= product.title
      %td
        Price:
        = product.cheapest_price
      %td
        %button
          Buy

